@charset "utf-8";

/* commnon
-------------------------------------------------------------- */
.main_tit{font-size:16px;line-height:24px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;margin-bottom:10px;}
.main_tit span{display:inline-block;color:#888;margin-left:6px;font-size:12px;}
.sub_tit{font-size:24px;line-height:30px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;border-bottom:2px solid #808080;margin-bottom:25px;padding-bottom:15px;}

/* Layout
-------------------------------------------------------------- */
#wrap{width:1080px;margin:15px auto 0;}
#wrap > .inner{padding-bottom:30px;}

/* sign_grp
-------------------------------------------------------------- */
.sign_wrap{position:relative;top:0;left:0;width:100%;height:100%;}
.sign_grp{position:absolute;top:50%;left:50%;width:300px;height:300px;margin:-150px 0 0 -150px;}
.sign_grp h1{padding:10px 0 20px;margin-bottom:15px;border-bottom:2px solid #2db400;text-align:center;font-size:20px;color:#666;font-weight:bold;}
.sign_grp .sign_box .inner{position:relative;top:0;left:0;padding-right:80px;}
.sign_grp .sign_box .inner .input_box{position:relative;top:0;left:0;}
.sign_grp .sign_box .inner .input_box:first-child{margin-bottom:5px;}
.sign_grp .sign_box .inner .input_box .lbl_txt{position:absolute;top:0;left:5px;color:#ccc;font-size:11px;z-index:2;}
.sign_grp .sign_box .inner .input_box .txt{position:relative;top:0;left:0;z-index:3;}
.sign_grp .sign_box .inner .btn_login{position:absolute;top:0;right:0;}
.sign_grp .sign_box p{padding-bottom:10px;border-bottom:1px solid #ccc;}
.sign_grp .sign_box p strong{font-size:20px;}

.sign_grp .sign_btm{padding:10px 0 0;}
.sign_grp .sign_btm ul:after{display:block;content:"";clear:both;}
.sign_grp .sign_btm li.m1{float:left;}
.sign_grp .sign_btm li.m2{float:right;}
.sign_grp .sign_btm li a{display:block;padding:5px 0;}

.sign_grp .sign_save{}
.sign_grp .sign_save .check_grp{display:inline-block;}
.sign_grp .sign_save .check_grp:first-child{margin-right:10px;}

/* reply_grp
-------------------------------------------------------------- */
.reply_grp{margin-top:50px;}
.reply_grp .reply_form{margin-bottom:15px;}
.reply_grp .reply_form .reply_write{position:relative;top:0;left:0;padding-right:110px;}
.reply_grp .reply_form .reply_write .reply_btn{position:absolute;top:0;right:0;}
.reply_grp .reply_form .reply_write .reply_btn input{width:100px;height:100px;}
.reply_grp .reply_form .reply_inp{margin-bottom:15px;}
.reply_grp .reply_form .reply_inp:after{display:block;content:"";clear:both;}
.reply_grp .reply_form .reply_inp .inner{float:left;margin-right:15px;}
 
.reply_grp .reply_num{height:25px;line-height:25px;}
.reply_grp .reply_view{margin-top:10px;position: relative;top: 0;left: 0;border-bottom: 1px solid #ccc;padding-left: 100px;padding-bottom:10px;}

.reply_grp .reply_view .thumb{position:absolute;top:0;left:0;width:64px;height:64px;}
.reply_grp .reply_view .thumb img{width:64px;height:64px;border-radius:50px;}

.reply_grp .reply_view .reply_tit{position:relative;top:0;left:0;}
.reply_grp .reply_view .reply_tit .tit{padding:10px 0;/* border-bottom:1px solid #ccc; */}
.reply_grp .reply_view .reply_tit .btn{position:absolute;top:50%;right:0;margin-top:-12.5px;}
 
.reply_grp .reply_view .reply_cts{padding:10px 0;}
.reply_grp .reply_view .reply_cts p{line-height:140%;}

/* paging
-------------------------------------------------------------- */
.paging{text-align:center;height:32px;margin-top:30px;}
.paging a,
.paging strong{display:inline-block;width:36px;height:32px;line-height:28px;font-size:14px;border:1px solid #e0e0e0;margin-left:5px;
-webkit-border-radius:3px;
   -moz-border-radius:3px;
		border-radius:3px;
-webkit-box-shadow:1px 1px 1px 0px rgba(235,235,235,1);
	-moz-box-shadow:1px 1px 1px 0px rgba(235,235,235,1);
		  box-shadow:1px 1px 1px 0px rgba(235,235,235,1);
}
.paging a:first-child{margin-left:0;}
.paging strong{color:#fff;background:#009bd7;border:1px solid #009bd7;}
.paging .page_arw{font-size:11px;line-height:30px;}

/* search_form
-------------------------------------------------------------- */
.search_form{text-align:center;margin:15px 0;}
.search_form inner .slct,
.search_form inner .txt{display:inline-block;}

/* table
-------------------------------------------------------------- */
table .ibk{display:inline-block;margin-left:10px;}
table .bk{display:block;margin-top:5px;}

.tbl_type_01{border-bottom:1px solid #f0f0f0;}
.tbl_type_01 th,
.tbl_type_01 td{padding:8px;border-top:1px solid #f0f0f0;}
.tbl_type_01 th{background:#f8f8f8;text-align:left;}
.tbl_type_01 td{}

.tbl_type_02{border-bottom:1px solid #f0f0f0;}
.tbl_type_02 thead th{background:#f8f8f8;padding:10px;}
.tbl_type_02 tbody td{padding:10px;border-top:1px solid #f0f0f0;text-align:center;}
.tbl_type_02 tbody td.subject{text-align:left;}
.tbl_type_02 tbody td.subject a{display:block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.tbl_type_02 tbody td.subject a .reply_icon{display:inline-block;margin-right:5px;}






.test_grp{position:relative;top:0;left:0;padding-left:60px;}
.test_grp .pic{position:absolute;top:0;left:0;width:50px;height:50px;background:lightblue;}
.test_grp .area_grp{position:relative;top:0;left:0;padding-right:60px;}
.test_grp .area_grp .area_inner textarea{min-height:50px;}
.test_grp .area_grp .btn_ex{position:absolute;top:0;right:0;}


/* melon */
.melon_grp{}
.melon_grp:after{display:block;content:"";clear:both;}
.melon_grp .melon_lt{float:left;width:760px;margin-right:40px;}
.melon_grp .melon_lt .vod_player .vod{width:760px;height:400px;background:lightpink;}
.melon_grp .melon_lt .vod_player .sharing_vod{margin-top:10px;padding-bottom:10px;border-bottom:1px solid #e6e6e6;}
.melon_grp .melon_lt .vod_player .sharing_vod:after{display:block;content:"";clear:both;}
.melon_grp .melon_lt .vod_player .sharing_vod .sns{float:left;}
.melon_grp .melon_lt .vod_player .sharing_vod .sns ul{overflow:hidden;}
.melon_grp .melon_lt .vod_player .sharing_vod .sns ul li{float:left;width:31px;background:url(../images/bg_btn_sns.png) 0 0 no-repeat;}
.melon_grp .melon_lt .vod_player .sharing_vod .sns ul li.m1{background-position:0 0;}
.melon_grp .melon_lt .vod_player .sharing_vod .sns ul li.m2{background-position:-31px 0;}
.melon_grp .melon_lt .vod_player .sharing_vod .sns ul li.m3{background-position:-62px 0;}
.melon_grp .melon_lt .vod_player .sharing_vod .sns ul li a{display:block;width:31px;height:28px;text-indent:-9999px;}
.melon_grp .melon_lt .vod_player .sharing_vod .bubble{float:right;}
.melon_grp .melon_lt .vod_player .sharing_vod .bubble ul{overflow:hidden;}
.melon_grp .melon_lt .vod_player .sharing_vod .bubble ul li{float:left;margin-left:5px;}
.melon_grp .melon_lt .vod_player .sharing_vod .bubble ul li a{display:block;border:1px solid #ccc;height:20px;line-height:18px;padding:0 5px;}

.melon_grp .melon_lt .vod_info{padding:20px 0;border-bottom:1px solid #e6e6e6;}
.melon_grp .melon_lt .vod_info .tit{font-size:23px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;line-height:30px;margin-bottom:10px;}
.melon_grp .melon_lt .vod_info .inner{margin-bottom:15px;}
.melon_grp .melon_lt .vod_info .inner:after{display:block;content:"";clear:both;}
.melon_grp .melon_lt .vod_info .inner .info_lt{float:left;width:300px;height:64px;position:relative;top:0;left:0;padding-left:74px;}
.melon_grp .melon_lt .vod_info .inner .info_lt .thumb{position:absolute;top:0;left:0;width:64px;height:64px;}
.melon_grp .melon_lt .vod_info .inner .info_lt .thumb a{display:block;}
.melon_grp .melon_lt .vod_info .inner .info_lt .thumb a img{display:block;width:64px;height:64px;border-radius:50px;}
.melon_grp .melon_lt .vod_info .inner .info_lt dl{position:absolute;bottom:0;left:80px;}
.melon_grp .melon_lt .vod_info .inner .info_lt dl dt{width:220px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;margin-bottom:10px;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.melon_grp .melon_lt .vod_info .inner .info_lt dl dd{}
.melon_grp .melon_lt .vod_info .inner .info_lt dl dd a,
.melon_grp .melon_lt .vod_info .inner .info_lt dl dd span{display:inline-block;border:1px solid #ccc;height:20px;line-height:18px;padding:0 10px;}
.melon_grp .melon_lt .vod_info .inner .info_lt dl dd span{background:#f1f1f1;}
.melon_grp .melon_lt .vod_info .inner .info_rt{float:right;width:120px;margin-top:20px;}
.melon_grp .melon_lt .vod_info .inner .info_rt dl{overflow:hidden;}
.melon_grp .melon_lt .vod_info .inner .info_rt dt{float:left;width:50px;font-size:13px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;}
.melon_grp .melon_lt .vod_info .inner .info_rt dd{float:left;width:70px;}
.melon_grp .melon_lt .vod_info .inner .info_rt dt,
.melon_grp .melon_lt .vod_info .inner .info_rt dd{margin-bottom:10px;}
.melon_grp .melon_lt .vod_info .vod_summary{line-height:150%;}




.melon_grp .melon_rt{float:left;width:280px;}
.melon_grp .melon_rt .tit{font-size:14px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;padding-bottom:10px;}
.melon_grp .melon_rt .vod_list{}
.melon_grp .melon_rt .vod_list li{margin-bottom:15px;}
.melon_grp .melon_rt .vod_list li a{display:block;}
.melon_grp .melon_rt .vod_list li a p{margin-bottom:8px;}
.melon_grp .melon_rt .vod_list li a .pic{width:240px;height:135px;}
.melon_grp .melon_rt .vod_list li a .subject{font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;font-size:13px;}
.melon_grp .melon_rt .vod_list li a .name{color:#79a54c;}
.melon_grp .melon_rt .vod_list li a .inner ul{overflow:hidden;}
.melon_grp .melon_rt .vod_list li a .inner ul li{float:left;margin-right:5px;}
.melon_grp .melon_rt .vod_list li a .inner ul li:last-child{color:#999;}

.melon_grp .melon_rt .songs_grp{padding-top:15px;border-top:1px solid #ccc;}
.melon_grp .melon_rt .songs_grp .songs_list li{position:relative;top:0;left:0;margin-bottom:6px;line-height:20px;}
.melon_grp .melon_rt .songs_grp .songs_list li a{display:inline-block;width:170px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;font-size:13px;}
.melon_grp .melon_rt .songs_grp .songs_list li a:hover,
.melon_grp .melon_rt .songs_grp .songs_list li a:focus{text-decoration:underline;}
.melon_grp .melon_rt .songs_grp .songs_list li .name{display:inline-block;width:100px;}
.melon_grp .melon_rt .songs_grp .songs_list .songs_btn{margin-top:15px;}
.melon_grp .melon_rt .songs_grp .songs_list .songs_btn a{display:inline-block;border:1px solid #ccc;height:22px;line-height:22px;margin-right:10px;padding:0 10px;}


/* login_box */
.login_box .inner{position:relative;top:0;left:0;padding-right:80px;}
.login_box .inner .input_box{position:relative;top:0;left:0;}
.login_box .inner .input_box:first-child{margin-bottom:5px;}
.login_box .inner .input_box .lbl_txt{position:absolute;top:0;left:5px;color:#ccc;font-size:11px;z-index:2;}
.login_box .inner .input_box .txt{position:relative;top:0;left:0;z-index:3;}
.login_box .inner .btn_login{position:absolute;top:0;right:0;width:75px;height:63px;line-height:63px;background:#8ac121;color:#fff;}

.login_btm{padding:10px 0 0;}
.login_btm ul:after{display:block;content:"";clear:both;}
.login_btm li.m1{float:left;}
.login_btm li.m1 a{display:block;padding:5px 0;}
.login_btm li.m2{float:right;}
.login_btm li.m2 a{display:inline-block;padding:5px 0;}

.login_ok{padding:20px 0;text-align:center;}
.login_ok .name strong{font-size:18px;font-weight:800;}
.login_ok .btn_login_ok{margin-top:30px;}


/* melon_index */
.melon_main:after{display:block;content:"";clear:both;}
.melon_main .main_lt{width:760px;float:left;margin-right:10px;}
.melon_main .main_lt .album_grp:after{display:block;content:"";clear:both;}
.melon_main .main_lt .album_grp .inner{float:left;width:490px;}
.melon_main .main_lt .album_grp .inner .album_list{overflow:hidden;}
.melon_main .main_lt .album_grp .inner .album_list li{float:left;width:160px;height:160px;position:relative;top:0;left:0;margin:0 5px 7px 0;}
.melon_main .main_lt .album_grp .inner .album_list li:nth-child(3n){margin-right:0;}
.melon_main .main_lt .album_grp .inner .album_list li a{display:block;}
.melon_main .main_lt .album_grp .inner .album_list li .tit{position:absolute;left:0;bottom:0;width:100%;height:30px;line-height:30px;background:#000;opacity:0.7;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#fff;padding:0 5px;}
.melon_main .main_lt .album_grp .inner .album_list li .pic{width:160px;height:160px;overflow:hidden;}
.melon_main .main_lt .album_grp .inner .album_list li .pic img{width:100%;}
.melon_main .main_lt .album_grp .inner.rolling_grp{width:260px;height:330px;margin-left:10px;}

.melon_main .main_lt .fame_grp ul:after{display:block;content:"";clear:both;}
.melon_main .main_lt .fame_grp ul li{float:left;width:32.66%;margin:0 1% 1% 0;}
.melon_main .main_lt .fame_grp ul li:nth-child(3n){margin-right:0;}
.melon_main .main_lt .fame_grp ul li a{display:block;}
.melon_main .main_lt .fame_grp ul li a .pic{width:100%;height:148px;overflow:hidden;}
.melon_main .main_lt .fame_grp ul li a .pic img{width:100%;}
.melon_main .main_lt .fame_grp ul li a .tit{font-size:13px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;margin:5px 0;}
.melon_main .main_lt .fame_grp ul li a .tit,
.melon_main .main_lt .fame_grp ul li a .text{width:100%;padding:0 3px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.melon_main .main_rt{position:relative;top:0;left:0;width:310px;float:left;}
.melon_main .main_rt .main_login{margin-top:24px;background:#f9f9f9;padding:10px;border:1px solid #dfe6e8;}
.melon_main .main_rt .banner{margin-top:9px;}
.melon_main .main_rt .banner img{width:100%;}


.melon_main .main_rt .melon_chart{border:1px solid #dfe6e8;}
.melon_main .main_rt .melon_chart li:first-child{border-top:none;}
.melon_main .main_rt .melon_chart li{border-top:1px solid #dfe6e8;}
.melon_main .main_rt .melon_chart li:nth-child(2n){background:#f8f8f8;}
.melon_main .main_rt .melon_chart li a{display:block;overflow:hidden;padding:10px 5px;}
.melon_main .main_rt .melon_chart li a p{float:left;}
.melon_main .main_rt .melon_chart li a .ranking{width:20px;color:#8ac121;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;font-size:13px;}
.melon_main .main_rt .melon_chart li a .song{width:180px;color:#000;margin-right:10px;}
.melon_main .main_rt .melon_chart li a .artist{width:88px;}
.melon_main .main_rt .melon_chart li a .song,
.melon_main .main_rt .melon_chart li a .artist{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.melon_main .main_rt .melon_chart .more{display:block;padding:10px 5px;text-align:right;}



/* melon_02.html */
.album_info{padding:25px;border:1px solid #bbbbbb;}
.album_info:after{display:block;content:"";clear:both;}
.album_info .album_pic{float:left;width:250px;}
.album_info .album_pic .pic{width:250px;height:250px;overflow:hidden;}
.album_info .album_pic .pic img{width:100%;}

.album_info .album_text{float:left;width:730px;margin-left:20px;}
.album_info .album_text .album_name{font-size:20px;padding:10px 0 20px 0;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;}
.album_info .album_text .song_info{overflow:hidden;}
.album_info .album_text .song_info dt{float:left;width:50px;font-size:13px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;}
.album_info .album_text .song_info dd{float:left;width:650px;margin-left:15px;}
.album_info .album_text .song_info dt,
.album_info .album_text .song_info dd{margin-bottom:10px;}


.album_introduce{}
.album_introduce .introduce_inner p{line-height:160%;}


.album_video .fame_grp ul:after{display:block;content:"";clear:both;}
.album_video .fame_grp ul li{float:left;width:24.25%;margin:0 1% 1% 0;}
.album_video .fame_grp ul li:nth-child(4n){margin-right:0;}
.album_video .fame_grp ul li a{display:block;}
.album_video .fame_grp ul li a .pic{width:100%;height:148px;overflow:hidden;}
.album_video .fame_grp ul li a .pic img{width:100%;}
.album_video .fame_grp ul li a .tit{font-size:13px;font-family:'³ª´® °íµñ º¼µå',Nanum Gothic-Bold,'¸¼Àº °íµñ',Malgun Gothic,sans-serif;font-weight:800;margin:5px 0;}
.album_video .fame_grp ul li a .tit,
.album_video .fame_grp ul li a .text{width:100%;padding:0 3px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}